<p id="about" class="text-center text-bold text-blue-darker text-4xl font-mono">About</p>

<div class="flex items-center">
  <img class="w-20 h-20 rounded-full mr-4" src="/assets/images/profile.jpg" alt="Profile image">
  <div class="max-w-xl">
    <h1 class="text-indigo" style="font-family: 'Titillium Web', sans-serif;">Lukas Krieger</h1>
    <p class="mt-4" style="font-family: 'Titillium Web'">Hello! I’m Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo quat. Duis aute irure! Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>I'm looking forward to  <a class="text-indigo" href="mailto:luakskrieger@gmail.com" target="email">lukaskrieger@gmail.com</a></p>
    <div class="pt-2 pb-2">
      <div class="inline-block bg-indigo p-2">
        <a class="text-white" target="_blank" rel="noopener" href="https://www.researchgate.net/profile/Lukas_Krieger">{{fa-icon "researchgate" prefix="fab" size="2x"}}</a>
      </div>
      <div class="inline-block bg-indigo p-2">
        <a class="text-white" target="_blank" rel="noopener" href="https://www.linkedin.com/in/lukas-krieger-b32713a7/">{{fa-icon "linkedin-in" prefix="fab" size="2x"}}</a>
      </div>
      <div class="inline-block bg-indigo p-2">
        <a class="text-white" target="_blank" rel="noopener" href="https://github.com/lukaskrieger">{{fa-icon "github" prefix="fab" size="2x"}}</a>
      </div>
    </div>
    <a class="text-indigo" href='/assets/CV-LukasKrieger.pdf' download>DOWNLOAD CV</a>
  </div>
</div>