<p class="text-center text-bold text-blue-darker text-4xl font-mono">About</p>


<p>I grew up .</p>

<p>...</p>

<p>Drop me a line at <a href="mailto:luakskrieger@gmail.com" target="email">lukaskrieger@gmail.com</a></p>