<div class="flex flex-col h-screen">
  <div class="h-16 w-full text-center border-b border-grey p-4 inline-flex">
    <div class="flex-1">Lukas Krieger</div>
    <div class="flex-1">{{#link-to "welcome"}}<span>Home</span>{{/link-to}}</div>
    <div class="flex-1">{{#link-to "about"}}<span>About</span>{{/link-to}}</div>
  </div>

  <div class="flex-grow mx-auto p-8 pin-b">
    {{outlet}}
  </div>

  <div class="h-16 w-full text-center border-t border-grey p-4">
    I'm the Footer for Lukas Krieger
  </div>
</div>