<p class="text-center text-bold text-blue-darker text-4xl font-mono">Publications</p>
<div id="science" class="flex flex-col">
  {{!-- Seasonal paper --}}
  <div class="w-full lg:flex m-2">
    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/assets/images/paper-seasonal.png')" title="Paper Gauss">
    </div>
    <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal w-full">
        <div class="mb-8">
        <div class="text-orange-dark text-lg mb-2">Seasonal and interannual variabilities in terminus position, glacier velocity, and surface elevation at Helheim and Kangerlussuaq Glaciers from 2008 to 2016.</div>
        <p class="text-grey-darker text-base">Kehrl, L. M., Joughin, I., Shean, D. E., Floricioiu, D., & Krieger, L. </p>
        <p class="text-grey-darker text-base">ournal of Geophysical Research: Earth Surface, 122(9), 1635-1652.</p>
        <p class="text-grey-darker text-base">2017</p>
        </div>
    </div>
  </div>
  {{!-- 79North paper --}}
  <div class="w-full lg:flex m-2">
    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/assets/images/paper-79North.png')" title="Paper Gauss">
    </div>
    <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal w-full">
        <div class="mb-8">
        <div class="text-orange-dark text-lg mb-2">Large ice loss variability at Nioghalvfjerdsfjorden Glacier, Northeast-Greenland.</div>
        <p class="text-grey-darker text-base">Mayer, C., Schaffer, J., Hattermann, T., Floricioiu, D., Krieger, L., Dodd, P. A., ... & Schannwell, C.</p>
        <p class="text-grey-darker text-base">Nature communications, 9(1), 2768.</p>
        <p class="text-grey-darker text-base">2018</p>
        </div>
    </div>
  </div>
  {{!-- Gaussian approximation paper --}}
  <div class="w-full lg:flex m-2">
    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/assets/images/paper-gauss.png')" title="Paper Gauss">
    </div>
    <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal w-full">
        <div class="mb-8">
        <div class="text-orange-dark text-lg mb-2">Gaussian approximations for intra-and intersystem interference in RNSS.</div>
        <p class="text-grey-darker text-base">Enneking, C., Antreich, F., Krieger, L., & de Almeida, A. L. </p>
        <p class="text-grey-darker text-base">IEEE Communications Letters.</p>
        <p class="text-grey-darker text-base">2018</p>
        </div>
    </div>
  </div>
</div>

